<div class="row">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h3><i class="icon ion-person-add"></i> Create Contact</h3>
        <hr>
      </div>
      <form name="messageForm" ng-submit="submitMessageForm(messageForm.$valid)" class="col s8" style="position: relative; left: 15%; top: 30px;">
        <div class="row">
          <div class="col s6">
            <div class="input-field col s12">
              <i class="icons ion-person prefix"></i>
              <input id="firstName" type="text" class="validate inputFields" required>
              <label for="firstName" style="font-size: 15px; padding-left: 2%;">First Name</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field col s12">
              <i class="icons ion-android-globe prefix"></i>
              <input id="lastName" type="text" class="validate" required>
              <label for="lastName" style="font-size: 15px; padding-left: 2%;">Last Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="icons ion-android-call prefix"></i>
            <input id="phone" type="text" class="validate" required>
            <label for="phone" style="font-size: 15px; padding-left: 2%;">Phone Number</label>
          </div>
          <div class="input-field col s12">
            <i class="icons ion-planet prefix"></i>
            <input id="countryCode" type="text" class="validate" required>
            <label for="countryCode" style="font-size: 15px; padding-left: 2%;">Country Code</label>
          </div>
        </div>
        <div class="row">
          <center>
            <div class="spinner" ng-show="loading">
              <img src="images/cubic_loader.gif">
            </div>
          </center>
        </div>
        <div class="row" ng-show="errorCreds">
          <center>
            <p class="help-block">{{errorMsg}}</p>
          </center>
        </div>
        <div class="row">
          <center>
            <button type="reset" class="waves-effect waves-light btn red lighten-2">
              <i class="icon ion-close"></i>
              Cancel
            </button>&nbsp;
            <button type="submit" ng-disabled="messageForm.$invalid" class="waves-effect waves-light btn blue lighten-2">
              Submit
              <i class="icon ion-ios-email"></i>
            </button>
          </center>
        </div>
      </form>
    </div>
  </div>
</div>
