<div class="row">
  <div class="row">
    <h3><i class="icon ion-ios-people"></i> Contacts</h3>
    <hr>
  </div>
  <div class="row" style="">
    <div class="col s8">
      <div class="input-field col s12">
        <i class="icons ion-ios-search prefix"></i>
        <input id="firstName" type="text" class="validate inputFields" required>
        <label for="firstName" style="font-size: 15px; padding-left: 2%;">Search by Name</label>
      </div>
    </div>
    <div class="col s1 topify-medium">
      <button class="btn light-blue" style="margin-right: 6px; font-size: 20px;">
        <i style="font-size: 15px;" class="icon ion-person"></i>
      </button>
    </div>
    <div class="col s1 topify-medium" style="margin-left: 6px; font-size: 20px;">
      <button class="btn">
        <i style="font-size: 15px;" class="icon ion-gear-b"></i>
      </button>
    </div>
    <div class="col s1 topify-medium" style="margin-left: 6px; font-size: 20px;">
      <button class="btn red">
        <i style="font-size: 15px;" class="icon ion-ios-trash"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <table>
        <thead>
        <tr>
          <th>
            <input type="checkbox" id="check" />
          </th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Phone Number</th>
          <th>Country code</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td><input type="checkbox" id="check" /></td>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>$0.87</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
