<div class="container" id="loginDialog">
  <div class="row">
    <div class="col s12 extraLargeText margin10" style="text-shadow: 4px 4px 2px #f0f8ff">
      <center>
        B U L K&nbsp;&nbsp;&nbsp;S M S
      </center>
    </div>
  </div>
  <div class="row" style="position: relative; top: 20px; padding: 20px; ">
    <div class="col s11">
      <div class="row">
        <form name="LoginForm" ng-submit="submitLoginForm(LoginForm.$valid)" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="icon ion-person prefix"></i>
              <input id="username" type="text" class="validate inputFields" required ng-model="username">
              <label for="username" style="font-size: 15px; padding-left: 2%;">User Name</label>
            </div>
            <p ng-show="LoginForm.username.$invalid && !LoginForm.username.$pristine" class="help-block">You username is required.</p>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="icon ion-key prefix"></i>
              <input id="password" type="password" class="validate" required ng-model="password" ng-minlength="5">
              <label for="password" style="font-size: 15px; padding-left: 2%;">Password</label>
            </div>
            <p ng-show="LoginForm.password.$invalid && !LoginForm.password.$pristine" class="help-block">You password is required.</p>
            <p ng-show="LoginForm.password.$error.minlength" class="help-block">Your password is too short.</p>
          </div>
          <div class="row">
            <center>
              <div class="spinner" ng-show="loading">
                <img src="images/cubic_loader.gif">
              </div>
            </center>
          </div>
          <div class="row" ng-show="errorCreds">
            <center>
              <p class="help-block">{{errorMsg}}</p>
            </center>
          </div>
          <div class="row">
            <center>
              <button type="submit" ng-disabled="LoginForm.$invalid" class="waves-effect waves-light btn blue lighten-2">
                Login
                <i class="icon ion-android-share"></i>
              </button>
              <button type="reset" class="waves-effect waves-light btn red lighten-2">
                <i class="icon ion-close"></i>
                Cancel
              </button>
            </center>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--
  <div class="row" style="text-align: center; position: relative; top: 10px;">
    <a>Powered by Skylabase &copy;2016</a>
  </div>
  -->
</div>
